package com.xjeffrose.util;

public class Await implements Awaitable {
  @Override public Object call() throws Exception {
    return null;
  }

  @Override public void ready() {

  }

  @Override public void result() {

  }

  @Override public void isReady() {

  }
}
